<%= form_with(model: room) do |form| %>
  <% if room.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(room.errors.count, "error") %> prohibited this room from being saved:</h2>

      <ul>
        <% room.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class=field>
    <%= form.label :name %>
    <%= form.text_field :name, autofocus: true %>
  </div>

  <div class=field>
    <%= form.label :topic %>
    <%= form.text_field :topic %>
  </div>

  <% if params[:action] == "edit" %>
    <div class=field>
      <%= form.label "Administrator" %>
      <%= form.collection_select :admin_id, room.users, :id, :name %>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>
