<% id = room.id ? "editRoomModal" : "newRoomModal" %>
<% title = room.id ? "Edit Room" : "Create Room" %>
<% url = room.id ? room_url(room.id) : rooms_url %>
<% method = room.id ? :put : :post %>

<div class="modal fade" id="<%= id %>" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">

        <h5 class="modal-title" id="createRoom"><%= title %></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= form_with(model: room, url: url, method: method) do |form| %>
          <% if room.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(room.errors.count, "error") %> prohibited this room from being saved:</h2>

              <ul>
                <% room.errors.each do |error| %>
                  <li><%= error.full_message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <div class="field mb-3">
            <%= form.label :name, class:"form-label" %>
            <%= form.text_field :name, autofocus: true, class:"form-control" %>
          </div>

          <div class="field mb-3">
            <%= form.label :topic, class:"form-label" %>
            <%= form.text_field :topic, class:"form-control" %>
          </div>

          <% if method === :put %>
            <div class="field mb-3">
              <%= form.label "Administrator" %>
              <%= form.collection_select :admin_id, room.users, :id, :email %>
            </div>
          <% end %>
      </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <div class="actions">
            <%= form.submit class: "btn btn-primary" %>
          </div>
        </div>

      <% end %>
    </div>
  </div>
</div>