<div class="row h-100">
  <div class="container col-12 col-md-3 bg-secondary p-0">  
    <div class="container-fluid ps-1">
      <h1><%= @room.name %></h1>
      <h2><%= @room.topic %></h2>

      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#settingsModal">
          Room Settings
      </button>
      <p id="notice"><%= notice %></p>
    </div>
    <% @rooms.each do |room| %>
      <div class="card m-0 border-1 bg-light rounded-0" style="width: 100%;min-width: 100px;">
        <div class="card-body p-1">
          <p class="card-title m-0"><%= room.name %></p>
          <a href="<%= room_url(room.id) %>" class="stretched-link"></a>
        </div>
      </div>
    <% end %>

    <button type="button" class="btn btn-primary m-1" data-bs-toggle="modal" data-bs-target="#newRoomModal">
      Create Room
    </button>
  </div>

  <div class="container col-12 col-md-9 p-3 align-self-end">
    <div id="messages">
        <% @room.messages.sort {|m| -m.created_at.to_i}.each do |m| %>
            <div>
                <%= m.user.name %>: <%= m.content %>
                <%= link_to "delete", message_path(m.id), method: :delete if current_user == m.user %>
            </div>
        <% end %>
    </div>

    <%= form_with model: Message.new, class: "message_form form_group w-100", remote: true do |f| %>
      <div class="input-group m-0 pt-3">
        <%= f.text_field :content, autofocus: true, class: "form-control" %>
        <%= f.hidden_field :room_id, value: @room.id %>
        <%= f.submit class: "submit btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>

<%= render 'modal_form', room: @new_room %>
<%= render 'modal_form', room: @room %>
<%= render 'room_settings_modal' %>
<%= javascript_pack_tag 'message_submit' %>