<p id="notice"><%= notice %></p>
<h1><%= @room.name %></h1>
<h2><%= @room.topic %></h2>

Members: 
<br>
<% @room.users.each do |u| %>
    <%= u.name %>
    <% if current_user == @room.admin %>
        <%= link_to "Remove", room_remove_user_path(@room.id, u.id), method: :put %>
    <% end %>
    <br>
<% end %>

<%= form_for :user, url: room_add_user_url ,method: :post do |f| %>
    <div class=field>
        <%= f.label "User Email" %>
        <%= f.text_field :email%>
    </div>
    
    <%= f.submit "Add User" %>

<% end %>
<br>

<div id="messages">
    <% @room.messages.sort {|m| -m.created_at.to_i}.each do |m| %>
        <div>
            <%= m.user.name %>: <%= m.content %>
            <%= link_to "delete", message_path(m.id), method: :delete if current_user == m.user %>
        </div>
    <% end %>
</div>
<br>

<%= form_with model: Message.new, class: "message_form", remote: true do |f| %>

    <div class=field>
        <%= f.label :content %>
        <%= f.text_field :content, autofocus: true %>
    </div>

    <%= f.hidden_field :room_id, value: @room.id %>

    <%= f.submit %>
<% end %>

<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>
<%= javascript_pack_tag 'message_submit' %>