<!DOCTYPE html>
<html style="height:100vh">
  <head>
    <%= Gon::Base.render_data %>
    <title>Chat Point</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'  %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body class='container-fluid h-100 d-flex flex-column m-0 p-0'>
    <%= render 'layouts/nav_bar' %>
    <div class='container-fluid h-100 d-flex flex-column'>
      <%= yield %>
    </div>
  </body>
</html>
